#qr {
    white-space: pre;
    font-family: monospace;
    text-align: center;
}

#contacts {
    overflow-y: scroll;
    white-space: pre;
}

#conversation {
    overflow-y: scroll;
    white-space: pre;
}

.contact {
    margin: 5px 20px;
    padding: 10px;
    border-bottom: solid 1px lightgrey;
}

.message {
    width: 60%;
    white-space: pre-line;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
}

.fill {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.left {
    background-color: lightblue;
    float: left;
    text-align: left;
}

.right {
    background-color: lightgreen;
    float: right;
    text-align: right;
}
