#pair {
    white-space: pre;
    font-family: "Courier New";
    font-size: 2vw;
    text-align: center;
}

.fill {
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.header {
    height: 28px;
    font-size: 20pt;
    margin: 5px 20px;
    padding: 5px;
    border-bottom: solid 2px lightgrey;
}

.footer {
    height: 28px;
    margin: 5px 20px;
    padding: 5px;
    border-top: 2px solid lightgrey;
}

#sender {
    float: left;
}

#status {
    width: 20px;
    height: 20px;
    float: right;
    border-radius: 10px;
    margin-top: 5px;
}

.red {
    background-color: #ef476f;
}

.orange {
    background-color: #ffd166;
}

.green {
    background-color: #06d6a0;
}

#contacts {
    height: calc(100% - 50px);
    overflow-y: scroll;
    white-space: pre;
}

.contact {
    margin: 0px 20px;
    padding: 10px;
    border-bottom: solid 1px lightgrey;
}

#letter {
    width: calc(-100px + 100%);
    height: calc(-2px + 100%);
    padding: 0px;
    margin: 0px;
    border: solid 1px grey;
}

#send {
    width: 90px;
    height: 100%;
    float: right;
}

.messages {
    width: 100%;
    height: calc(100% - 100px);
    overflow-y: scroll;
}

.message {
    width: 60%;
    white-space: pre-wrap;
    margin: 5px 20px;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

.left {
    background-color: lightblue;
    float: left;
    text-align: left;
}

.right {
    background-color: lightgreen;
    float: right;
    text-align: right;
}
